*{
	margin:0px;
	padding:0px;
}
#header{
	border:2px solid black;	
	height:50px;
	margin-left:415px;
	width:900px;
	position:fixed;
	background-color:rgba(0,0,0,0.9);
}

.branches{
	list-style:none;
	//border:1px solid red;
	margin-left:10px;
	width:750px;

}

#logout_button{
	position:fixed;
	margin-left:830px;
	margin-top:-35px;
	color:white;
	text-decoration:none;
}
#logout_button:hover{
	text-decoration:underline;
	font-weight:bold;
}

.branches li{
	display:inline-block;
	background-color:rgba(0,0,0,0.8);
	width:100px;
	text-align:center;
	font-size:19px;
	height:50px;
	font-weight:bold;
	margin-left:20px;
	//margin-top:10px;
	//border:1px solid red;
}

.branches li:hover{
	background-color:rgba(255,255,255,0.2);
}

#message_title{
	width:800px;
	padding:5px;
	font-weight:bold;
	font-family:sans-serif;
	margin-left:40px;
}

#message_area{
	margin-left:40px;
	width:800px;
	height:100px;
	resize:none;
	padding:5px;
	//font-weight:bold;
	font-family:sans-serif;

}

#message_gen{
	border:1px solid black;
	padding:5px;
	margin-top:2px;
	display:none;
}

#post_message{
	margin-left:717px;
	padding:5px;
	margin-top:5px;
	text-align:center;
	font-weight:bold;
}

#message_button{
	padding:5px;
	width:900px;
	outline:none;
	color:white;
	background-image:linear-gradient(to top,#3F64C8,white);
	border:1px solid black;
	font-weight:bold;
	margin-top:10px;
	font-family:sans-serif;
	font-size:17px;
}

#message_button:hover{
	text-decoration:underline;
}

#message_button:active{
	background-image:linear-gradient(to top,white,#3F64C8);
}


#mainbar{
	//border:1px solid black;
	height:1000px;
	width:900px;
	margin-left:415px;
	float:left;
	margin-top:55px;
}

#logo-text{
	border-bottom:2px solid grey;
	font-weight:bold;
	font-family:Tahoma;
	color:#3F64C8;
	padding: 10px;
	text-align:center;
	font-size:22px;
}

#header-link{
	color:white;
	text-decoration:none;
}

#user_img{
	border:2px solid black;
	padding:5px;
	margin-left:45px;
	height:200px;
	width:200px;
	margin-top:25px;
}

#sidebar{
	border:2px solid black;	
	width:300px;
	margin-left:110px;
	height:795px;
	position:fixed;
}

#author_link{
	text-decoration:none;
	font-weight:bold;
	font-family:tahoma;
	color:#DC143C;
}
#author_link:hover{
	text-decoration:underline;
	color:#3F64C8;
}

#author_title{
	text-decoration:none;
	font-weight:bold;
	//font-family:tahoma;
	color:#9ACD32;
	font-family:sans-serif;
}

#author_title:hover{
	text-decoration:underline;
}

#r_m_box{
	border:1px solid orange;
	padding:5px;
	margin-top:5px;
	border-radius:5px;
}

#r_m_box:hover{
	background-color:rgba(0,0,0,0.1);
}